:root {
  --gray: #ececec;
  --mint: #9fd3c7;
  --blue: #385170;
  --dark: #142d4c;
  --white: #f2f2f2;
  --charcoal: #36454f;
}

* {
  box-sizing: border-box;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding: 0;
  margin: 0;
}

/* body,
html {
  height: 100%;
} */

body {
  background-color: var(--dark);
  /* width: 100%; */
}

.navbar {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: var(--charcoal);
  border-bottom: 5px solid var(--mint);
  z-index: 999;
}

.navbar a {
  float: right;
  display: block;
  color: var(--gray);
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  top: 25px;
  font-size: 25px;
  margin-top: 20px;
  text-shadow: 3px 0 black, 3px 0 black;
}

.navbar a:hover {
  background-color: var(--blue);
}

.navbar div {
  float: left;
  padding: 6px;
  margin-top: 10px;
  margin-left: 5px;
  color: var(--gray);
  font-size: 58px;
  text-shadow: 3px 0 black, 3px 0 black;
}

.hero {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 198, 248, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/devguy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  bottom: -107px;
  padding: 0;
  margin: 0;
}

.hero:hover {
  filter: blur(4px);
  border: 5px solid rgba(0, 0, 0, 0.3);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 50px;
  padding-top: 50px;
  text-shadow: 3px 0 black, 3px 0 black;
}

.hero-text h3 {
  margin-top: 60px;
  padding-top: 30px;
}

#about {
  font-size: 20px;
  color: var(--dark);
  text-align: center;
  margin: 150px 20vw 0px 20vw;
  border: 15px inset var(--blue);
  background-color: var(--mint);
}
#about:hover {
  border: 15px outset var(--blue);
}

#about:after {
  content: "";
  display: block;
  background: url("../images/icons/icons8-about-100.png") no-repeat;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0 0 0;
  transform: translate(-270%, -350%);
}

.profile {
  display: block;
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 100%;
  transform: translate(-80%, -250%);
  border: 5px solid var(--gray);
}

.profile:hover {
  border: 9px double var(--mint);
  width: 250px;
  height: 250px;
  transform: translate(-30%, -170%);
}

.projhead {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-15%, 120%);
  color: var(--dark);
  font-size: 30px;
  border: 5px dashed rgba(0, 0, 0, 0.3);
  background-color: var(--mint);
  text-shadow: 3px 0 #f2f2f2, 3px 0 #f2f2f2;
}
/* .projhead h1:before,
.projhead h1:after {
  content: "";
  display: block;
  background: url("../images/icons/icons8-briefcase-100.png") no-repeat;
  width: 100px;
  height: 100px;
  margin: 0;
} */

#projects {
}

.mainproj {
  margin: 130px 200px 0px 200px;
  border: 5px solid var(--mint);
  display: flex;
  justify-content: center;
  width: 1360px;
  height: 500px;
}

#seoimg {
  width: 1350px;
  filter: blur(4px);
}

#seotxt {
  text-align: center;
  position: absolute;
  top: 1650px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 50px;
  padding-top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 90px;
}

#seotxt:hover {
  font-size: 100px;
}

.smallprojs {
  margin: -5px 200px 0px 200px;
  border: 5px solid var(--mint);
  display: flex;
  /* justify-content: center; */
  width: 1360px;
  height: 600px;
}

#small-1 {
  justify-content: flex-start;
  width: 450px;
  height: 590px;
  filter: blur(4px);
  border-right: 5px solid var(--mint);
}

#small-1-txt {
  text-align: center;
  position: absolute;
  top: 2250px;
  left: 24%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 50px;
  padding-top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 40px;
  z-index: 998;
}

#small-1-txt:hover {
  font-size: 43px;
}

#small-2 {
  justify-content: center;
  width: 450px;
  height: 590px;
  filter: blur(4px);
}

#small-2-txt {
  text-align: center;
  position: absolute;
  top: 2250px;
  left: 49%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 50px;
  padding-top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 40px;
  z-index: 998;
}

#small-2-txt:hover {
  font-size: 43px;
}

#small-3 {
  justify-content: right;
  width: 450px;
  height: 590px;
  filter: blur(4px);
  border-left: 5px solid var(--mint);
}

#small-3:hover,
#small-2:hover,
#small-1:hover,
#seoimg:hover {
  filter: blur(0px);
}

#small-3-txt {
  text-align: center;
  position: absolute;
  top: 2250px;
  left: 75%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 50px;
  padding-top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 40px;
  z-index: 998;
}

#small-3-txt:hover {
  font-size: 43px;
}

footer {
  text-align: center;
  color: var(--gray);
}

@media screen and (max-width: 1400px) {
  #about {
    margin: 150px 10vw 0px 10vw;
  }

  #about::after {
    display: none;
  }
  .profile {
    display: none;
  }
}
/*
@media screen and (min-width: 992px) {
  body {
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
} */
